@charset "UTF-8";
/* 头部 登录注册等*/
.allheader {
  height: 28px;
  background: #f5f5f5;
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.header {
  width: 1263px;
  height: 28px;
  background: #f5f5f5;
  margin: 0 auto;
  position: relative;
  border-bottom: 1px solid #ddd;
}

.header .header-left-send {
  position: absolute;
  margin-top: 7px;
  margin-left: 20px;
}

.header .header-left-place {
  position: relative;
  width: 49px;
  height: 28px;
  left: 60px;
  cursor: pointer;
}

.header .header-left-place .header-left-place-main {
  position: absolute;
  height: 28px;
  line-height: 28px;
  width: 49px;
}

.header .header-left-place .header-left-place-b {
  background: url(../imgs/head.png) 0px -31px no-repeat;
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  left: 26px;
  top: 9px;
}

.header .header-left-place .header-left-place-hidden {
  background: #fff;
  display: none;
  position: absolute;
  z-index: 200;
  left: 0;
  top: 28px;
  width: 380px;
  height: 295px;
  border: 1px solid #ddd;
}

.header .header-left-place .header-left-place-hidden .header-left-place-hideul {
  position: absolute;
  left: 5px;
  border-bottom: 1px solid #ddd;
  padding-top: 5px;
  height: 25px;
  width: 370px;
}

.header .header-left-place .header-left-place-hidden .header-left-place-hideul li {
  float: left;
  line-height: 24px;
  height: 25px;
  cursor: pointer;
  width: 70px;
  border: 1px solid #ddd;
  border-bottom: none;
  text-align: center;
  margin: 0 2px;
  background: #f6f6f6;
}

.header .header-left-place .header-left-place-hidden .header-left-place-hideul li:nth-of-type(1) {
  margin-left: 0;
}

.header .header-left-place .header-left-place-hidden .header-left-place-hiddcontentall {
  margin-top: 5px;
  position: absolute;
  top: 25px;
}

.header .header-left-place .header-left-place-hidden .header-left-place-hiddcontentall .header-left-place-hiddcontent {
  padding: 10px 10px 5px;
}

.header .header-left-place .header-left-place-hidden .header-left-place-hiddcontentall .header-left-place-hiddcontent span {
  color: #999;
  border-right: 1px dotted #e8e8e8;
  padding-right: 3px;
}

.header .header-left-place .header-left-place-hidden .header-left-place-hiddcontentall .header-left-place-hiddcontent a {
  color: #666;
  padding: 2px 10px;
}

.header .header-left-place .header-left-place-hidden .header-left-place-hiddcontentall .header-left-place-hiddcontent a:hover {
  background: #fb6003;
  color: #fff;
}

.header .header-left-place:hover .header-left-place-hidden {
  display: block;
}

.header .header-left-place:hover .header-left-place-b {
  background: url(../imgs/head.png) 0px -45px no-repeat;
}

.header .header-left-right {
  position: absolute;
  left: 110px;
  top: 4px;
  width: 95px;
  height: 21px;
  line-height: 20px;
  text-indent: 28px;
  color: #666;
  background: url(../imgs/bg.png) 0 -429px no-repeat;
}

.header .header-left-right2 {
  position: absolute;
  left: 215px;
  top: 4px;
  width: 95px;
  height: 21px;
  line-height: 20px;
  color: #666;
}

.header .header-left-right2 span {
  color: #FF6600;
}

.header .header-right {
  width: 700px;
  height: 28px;
  position: absolute;
  padding-right: 36px;
  right: 0;
  top: 0;
}

.header .header-right ul {
  width: 100%;
  height: 100%;
}

.header .header-right ul li {
  position: relative;
  z-index: 50;
  float: right;
  padding: 0 5px;
  height: 26px;
  line-height: 26px;
  border: 1px solid #F5F5F5;
}

.header .header-right ul li a {
  color: #444;
}

.header .header-right ul li a:hover {
  color: #248DCC;
}

.header .header-right ul .header-right-suggest {
  color: #FF0000;
}

.header .header-right ul .header-right-mobile {
  display: block;
  width: 13px;
  height: 13px;
  background: url(../imgs/bg.png) -334px -46px no-repeat;
  float: left;
  margin-top: 7px;
  margin-right: 5px;
}

.header .header-right ul .header-right-collect {
  padding-right: 14px;
}

.header .header-right ul .header-right-collect b {
  position: absolute;
  top: 11px;
  right: 0;
  width: 0;
  height: 0;
  border: transparent solid 4px;
  border-top-color: #717171;
  cursor: pointer;
}

.header .header-right ul .header-right-collect .header-right-collectdiv {
  display: none;
  background: #fff;
  position: absolute;
  width: 200px;
  height: 60px;
  border: 1px solid #ddd;
  right: 0;
  border-top: none;
  box-shadow: 3px 3px 4px #777;
  z-index: 100;
}

.header .header-right ul .header-right-collect .header-right-collectdiv span {
  width: 80px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  float: left;
  color: #444;
  background-image: url(../imgs/btn.png);
  background-repeat: no-repeat;
  background-size: 100% 460px;
  cursor: pointer;
}

.header .header-right ul .header-right-collect .header-right-collectdiv span:hover {
  background-position: 0 -115px;
}

.header .header-right ul .header-right-collect .header-right-collectdiv .header-right-collectbtn1 {
  margin: 16px 5px 0 15px;
}

.header .header-right ul .header-right-collect .header-right-collectdiv .header-right-collectbtn2 {
  margin: 16px 0 0 5px;
}

.header .header-right ul .header-right-collect:hover b {
  transform-origin: 4px 2px;
  transform: rotateZ(180deg);
  transition-duration: 1s;
}

.header .header-right ul .header-right-collect:hover .header-right-collectdiv {
  display: block;
}

.header .header-right ul .header-right-mine {
  padding-right: 14px;
}

.header .header-right ul .header-right-mine i {
  width: 13px;
  height: 13px;
  background: url(../imgs/bg.png) -312px -46px no-repeat;
  float: left;
  margin-top: 7px;
  margin-right: 5px;
}

.header .header-right ul .header-right-mine b {
  position: absolute;
  top: 11px;
  right: 0;
  width: 0;
  height: 0;
  border: transparent solid 4px;
  border-top-color: #717171;
  cursor: pointer;
}

.header .header-right ul .header-right-mine .header-right-mineul {
  background: #fff;
  position: absolute;
  width: 100px;
  height: 85px;
  border: 1px solid #ddd;
  box-shadow: 3px 3px 4px #777;
  border-top: none;
  display: none;
}

.header .header-right ul .header-right-mine .header-right-mineul li {
  float: left;
  width: 60px;
  height: 24px;
  line-height: 24px;
  background: url(../imgs/bg2.png) 0 -256px no-repeat;
  cursor: pointer;
  border: 0;
  margin-left: 10px;
  padding-left: 10px;
}

.header .header-right ul .header-right-mine .header-right-mineul li:hover {
  color: #248DCC;
}

.header .header-right ul .header-right-mine:hover b {
  transform-origin: 4px 2px;
  transform: rotateZ(180deg);
  transition-duration: 1s;
}

.header .header-right ul .header-right-mine:hover .header-right-mineul {
  display: block;
}

.header .header-right ul .header-right-cart {
  display: block;
  width: 14px;
  height: 14px;
  background: url(../imgs/bg.png) -291px -46px no-repeat;
  float: left;
  margin-top: 7px;
  margin-right: 5px;
}

.header .header-right ul .header-right-cartnum {
  color: red;
}

/*
	最右边的提示
*/
.righthint {
  background: #444;
  width: 35px;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 101;
}

/*
	logo
*/
.alllogo {
  height: 154px;
  width: 100%;
}

.logo {
  width: 1263px;
  height: 154px;
  margin: 0 auto;
}

.logo .logo-top {
  width: 100%;
  height: 120px;
}

.logo .logo-top .logo-logoer {
  margin-left: 25px;
  margin-top: 7px;
  float: left;
  width: 230px;
  height: 100px;
  background: url(../imgs/epet-logo.png);
}

.logo .logo-top .logo-search {
  margin-left: 70px;
  float: left;
  width: 550px;
  height: 120px;
}

.logo .logo-top .logo-search .logo-search-top {
  width: 500px;
  height: 34px;
  margin-top: 33px;
}

.logo .logo-top .logo-search .logo-search-top input {
  padding-left: 15px;
  float: left;
  width: 388px;
  height: 30px;
  border: 2px solid #459d36;
  color: #999;
}

.logo .logo-top .logo-search .logo-search-top span {
  float: left;
  width: 73px;
  height: 34px;
  line-height: 34px;
  color: #fff;
  background: #459d36;
  text-align: center;
}

.logo .logo-top .logo-search .logo-search-bottom {
  width: 500px;
  height: 24px;
  margin-top: 9px;
}

.logo .logo-top .logo-search .logo-search-bottom span {
  color: #999;
  float: left;
}

.logo .logo-top .logo-search .logo-search-bottom ul {
  overflow: hidden;
}

.logo .logo-top .logo-search .logo-search-bottom ul li {
  color: #999;
  padding: 0 10px;
  float: left;
  border-right: 1px solid #999;
  cursor: pointer;
}

.logo .logo-top .logo-search .logo-search-bottom ul li:nth-of-type(1) {
  padding-left: 0;
  color: red;
}

.logo .logo-top .logo-search .logo-search-bottom ul li:nth-of-type(5) {
  border-right: 0;
}

.logo .logo-top .logo-cart {
  width: 370px;
  height: 120px;
  float: left;
}

.logo .logo-top .logo-cart .logo-cart-phone {
  margin-top: 40px;
  float: left;
  width: 160px;
  height: 45px;
  background: url(../imgs/bg.png) 0 -521px no-repeat;
}

.logo .logo-top .logo-cart .logo-carter {
  float: left;
  width: 130px;
  height: 39px;
  background: url(../imgs/shopping-cart.gif) no-repeat;
  margin-top: 35px;
  margin-left: 80px;
  text-align: center;
  line-height: 39px;
}

.logo .logo-top .logo-cart .logo-carter a {
  color: #666;
  margin-left: 20px;
}

.logo .logo-top .logo-cart .logo-carter a span {
  color: red;
}

.logo .logo-bottom {
  width: 100%;
  height: 34px;
  position: relative;
}

.logo .logo-bottom div {
  float: left;
  font-size: 16px;
}

.logo .logo-bottom .logo-bottom-dog {
  position: relative;
  margin-left: 25px;
  width: 112px;
  height: 32px;
  border: 1px solid #e1e1e1;
  cursor: pointer;
  color: #666;
  line-height: 32px;
}

.logo .logo-bottom .logo-bottom-dog a {
  margin-left: 30px;
  color: #444;
}

.logo .logo-bottom .logo-bottom-dog b {
  position: absolute;
  left: 70px;
  top: 10px;
  width: 16px;
  height: 13px;
  background: url(../imgs/bg2.png) -17px -1257px no-repeat;
}

.logo .logo-bottom .logo-bottom-dog .logo-bottom-doggoods {
  display: none;
  height: 360px;
  width: 227px;
  position: absolute;
  top: 34px;
  background: #fff;
}

.logo .logo-bottom .logo-bottom-dog .logo-bottom-doggoods .clothes {
  position: relative;
  width: 227px;
  height: 179px;
  border-bottom: 1px dotted #ccc;
  text-align: center;
}

.logo .logo-bottom .logo-bottom-dog .logo-bottom-doggoods .clothes .clotheslogol {
  cursor: pointer;
  display: inline-block;
  width: 63px;
  height: 63px;
  background: url(../imgs/select-pet.png) 0 -253px no-repeat;
  margin-top: 25px;
}

.logo .logo-bottom .logo-bottom-dog .logo-bottom-doggoods .clothes .clotheslogor {
  cursor: pointer;
  position: absolute;
  left: 155px;
  top: 30px;
  width: 49px;
  height: 39px;
  background: url(../imgs/dog-cloth.jpg) no-repeat;
}

.logo .logo-bottom .logo-bottom-dog .logo-bottom-doggoods .clothes p {
  line-height: 24px;
  height: 24px;
  color: #999;
}

.logo .logo-bottom .logo-bottom-dog .logo-bottom-doggoods .clothes a {
  display: inline-block;
  border: 1px solid #aeaeae;
  color: #aeaeae;
  width: 132px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 3px;
  font-size: 12px;
  margin-top: 5px;
  margin-left: 0;
}

.logo .logo-bottom .logo-bottom-dog .logo-bottom-doggoods .clothes a:hover {
  background: #ebebeb;
}

.logo .logo-bottom .logo-bottom-dog .logo-bottom-doggoods .cat {
  position: relative;
  width: 227px;
  height: 179px;
  border-bottom: 1px dotted #ccc;
  text-align: center;
}

.logo .logo-bottom .logo-bottom-dog .logo-bottom-doggoods .cat .catlogol {
  cursor: pointer;
  display: inline-block;
  width: 63px;
  height: 63px;
  background: url(../imgs/select-pet.png) 0 -63px no-repeat;
  margin-top: 25px;
}

.logo .logo-bottom .logo-bottom-dog .logo-bottom-doggoods .cat .catlogor {
  cursor: pointer;
  position: absolute;
  left: 155px;
  top: 30px;
  width: 49px;
  height: 39px;
  background: url(../imgs/cat-cloth.jpg) no-repeat;
}

.logo .logo-bottom .logo-bottom-dog .logo-bottom-doggoods .cat p {
  line-height: 24px;
  height: 24px;
  color: #999;
}

.logo .logo-bottom .logo-bottom-dog .logo-bottom-doggoods .cat a {
  display: inline-block;
  border: 1px solid  #e74085;
  color: #e74085;
  width: 132px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 3px;
  font-size: 12px;
  margin-top: 5px;
  margin-left: 0;
}

.logo .logo-bottom .logo-bottom-dog .logo-bottom-doggoods .cat a:hover {
  background: #e74085;
  color: #fff;
}

.logo .logo-bottom .logo-bottom-dog:hover b {
  transform: rotate(180deg);
  transition-duration: 0.5s;
}

.logo .logo-bottom .logo-bottom-dog:hover .logo-bottom-doggoods {
  display: block;
  z-index: 101;
}

.logo .logo-bottom .logo-bottom-goods {
  position: relative;
  z-index: 100;
  width: 112px;
  height: 32px;
  border: 1px solid #e1e1e1;
  text-align: center;
  cursor: pointer;
  color: #666;
  line-height: 32px;
  border-left: none;
}

.logo .logo-bottom .logo-bottom-goods a {
  margin-left: -15px;
  color: #444;
}

.logo .logo-bottom .logo-bottom-goods b {
  position: absolute;
  left: 85px;
  top: 13px;
  width: 13px;
  height: 7px;
  background: url(../imgs/bg2.png) -17px -1276px no-repeat;
}

.logo .logo-bottom .logo-bottom-goods .logo-bottom-goodsselect {
  display: block;
  width: 227px;
  position: absolute;
  left: -114px;
  top: 34px;
  background: #fff;
}

.logo .logo-bottom .logo-bottom-goods .logo-bottom-goodsselect ul li {
  position: relative;
  width: 226px;
  height: 44px;
  line-height: 44px;
  background: url(../imgs/menuLine1.png) 50% bottom no-repeat;
}

.logo .logo-bottom .logo-bottom-goods .logo-bottom-goodsselect ul li .logo-bottom-goodsselect-1 {
  width: 100%;
  height: 100%;
  background: url(../imgs/bg2.png) right -1206px no-repeat;
}

.logo .logo-bottom .logo-bottom-goods .logo-bottom-goodsselect ul li .logo-bottom-goodsselect-1 span:nth-of-type(1) {
  margin: 15px 8px 0 16px;
  float: left;
  width: 18px;
  height: 16px;
  background: url(../imgs/selectmenu.png) 100% 0 no-repeat;
}

.logo .logo-bottom .logo-bottom-goods .logo-bottom-goodsselect ul li .logo-bottom-goodsselect-1 span:nth-of-type(2),
.logo .logo-bottom .logo-bottom-goods .logo-bottom-goodsselect ul li .logo-bottom-goodsselect-1 span:nth-of-type(3) {
  float: left;
  width: 72px;
  height: 43px;
  font-size: 14px;
}

.logo .logo-bottom .logo-bottom-goods .logo-bottom-goodsselect ul li .logo-bottom-goodsselect-1 span:nth-of-type(2) i,
.logo .logo-bottom .logo-bottom-goods .logo-bottom-goodsselect ul li .logo-bottom-goodsselect-1 span:nth-of-type(3) i {
  color: #999;
  margin-left: 4px;
  width: 40px;
}

.logo .logo-bottom .logo-bottom-goods .logo-bottom-goodsselect ul li .logo-bottom-goodsselect-1 span:nth-of-type(2) i:hover,
.logo .logo-bottom .logo-bottom-goods .logo-bottom-goodsselect ul li .logo-bottom-goodsselect-1 span:nth-of-type(3) i:hover {
  color: #999;
}

.logo .logo-bottom .logo-bottom-goods .logo-bottom-goodsselect ul li .logo-bottom-goodsselect-1 span:nth-of-type(2):hover,
.logo .logo-bottom .logo-bottom-goods .logo-bottom-goodsselect ul li .logo-bottom-goodsselect-1 span:nth-of-type(3):hover {
  color: #248DCC;
}

.logo .logo-bottom .logo-bottom-goods .logo-bottom-goodsselect ul li .selectthird1 {
  display: none;
  position: absolute;
  z-index: 50;
  left: 226px;
  top: -1px;
  -width: 570px;
  -padding: 10px 8px 0;
  border: 1px solid #62a727;
  background: #f5f5f5;
  line-height: 30px;
  height: 444px;
  box-shadow: 3px 3px 4px #777;
}

.logo .logo-bottom .logo-bottom-goods .logo-bottom-goodsselect ul li .selectthird1 .selectthird1-in {
  width: 550px;
  padding: 10px;
  background: #fff;
  min-height: 350px;
}

.logo .logo-bottom .logo-bottom-goods .logo-bottom-goodsselect ul li .selectthird1 .selectthird1-in .selectthird1-in-top {
  width: 550px;
  height: 205px;
  margin-bottom: 10px;
}

.logo .logo-bottom .logo-bottom-goods .logo-bottom-goodsselect ul li .selectthird1 .selectthird1-in .selectthird1-in-top .selectthird1-in-top1 {
  height: 40px;
  width: 100%;
  border-bottom: 1px dotted #ddd;
}

.logo .logo-bottom .logo-bottom-goods .logo-bottom-goodsselect ul li .selectthird1 .selectthird1-in .selectthird1-in-top .selectthird1-in-top1 img {
  width: 35px;
  height: 35px;
  margin-left: 10px;
  float: left;
}

.logo .logo-bottom .logo-bottom-goods .logo-bottom-goodsselect ul li .selectthird1 .selectthird1-in .selectthird1-in-top .selectthird1-in-top1 a {
  float: left;
  font-size: 16px;
  line-height: 35px;
  height: 35px;
  margin-left: 10px;
}

.logo .logo-bottom .logo-bottom-goods .logo-bottom-goodsselect ul li .selectthird1 .selectthird1-in .selectthird1-in-top .selectthird1-in-top1 span {
  float: left;
  width: 35px;
  height: 35px;
  background: url(../imgs/bg.png) -470px -240px no-repeat;
}

.logo .logo-bottom .logo-bottom-goods .logo-bottom-goodsselect ul li .selectthird1 .selectthird1-in .selectthird1-in-top .selectthird1-in-top1 .selectthird1-in-topimg {
  width: 220px;
  height: 35px;
  margin-left: 10px;
  float: left;
}

.logo .logo-bottom .logo-bottom-goods .logo-bottom-goodsselect ul li .selectthird1 .selectthird1-in .selectthird1-in-top .selectthird1-in-top2 {
  height: 40px;
  width: 100%;
  line-height: 40px;
  border-bottom: 1px dotted #ddd;
}

.logo .logo-bottom .logo-bottom-goods .logo-bottom-goodsselect ul li .selectthird1 .selectthird1-in .selectthird1-in-top .selectthird1-in-top2 a {
  float: left;
  font-weight: 600;
  color: green;
  font-size: 12px;
  margin-left: 65px;
}

.logo .logo-bottom .logo-bottom-goods .logo-bottom-goodsselect ul li .selectthird1 .selectthird1-in .selectthird1-in-top .selectthird1-in-top2 img {
  float: left;
  width: 25px;
  height: 25px;
  margin: 7px 0 0 10px;
}

.logo .logo-bottom .logo-bottom-goods .logo-bottom-goodsselect ul li .selectthird1 .selectthird1-in .selectthird1-in-top .selectthird1-in-top2 span {
  float: left;
  width: 390px;
  height: 40px;
  line-height: 40px;
}

.logo .logo-bottom .logo-bottom-goods .logo-bottom-goodsselect ul li .selectthird1 .selectthird1-in .selectthird1-in-top .selectthird1-in-top2 span ul {
  overflow: hidden;
  margin-top: 12px;
  margin-left: 10px;
}

.logo .logo-bottom .logo-bottom-goods .logo-bottom-goodsselect ul li .selectthird1 .selectthird1-in .selectthird1-in-top .selectthird1-in-top2 span ul li {
  float: left;
  padding: 0 6px 0 7px;
  width: auto;
  height: 16px;
  line-height: 16px;
  border-left: 1px #ddd solid;
}

.logo .logo-bottom .logo-bottom-goods .logo-bottom-goodsselect ul li .selectthird1 .selectthird1-in .selectthird1-in-top .selectthird1-in-top2 span ul li:nth-of-type(5) {
  color: red;
}

.logo .logo-bottom .logo-bottom-goods .logo-bottom-goodsselect ul li .selectthird1 .selectthird1-in .selectthird1-in-top .selectthird1-in-top2 span ul li:hover {
  color: #248DCC;
}

.logo .logo-bottom .logo-bottom-goods .logo-bottom-goodsselect ul li:hover {
  background: none;
  border-top: 1px solid #62a727;
  border-bottom: 1px solid #62a727;
  width: 217px;
  border-right: #fff;
  padding-left: 10px;
  transition-duration: 0.3s;
}

.logo .logo-bottom .logo-bottom-goods .logo-bottom-goodsselect ul li:hover .logo-bottom-goodsselect-1 {
  background: none;
}

.logo .logo-bottom .logo-bottom-goods .logo-bottom-goodsselect ul li:hover .selectthird1 {
  display: block;
}

.logo .logo-bottom .logo-bottom-goods .logo-bottom-goodsselect ul .selectmenu1 .logo-bottom-goodsselect-1 span:nth-of-type(1) {
  background: url(../imgs/selectmenu.png) 100% -34px no-repeat;
}

.logo .logo-bottom .logo-bottom-goods .logo-bottom-goodsselect ul .selectmenu1:hover .selectthird1 {
  top: -45px;
}

.logo .logo-bottom .logo-bottom-goods .logo-bottom-goodsselect ul .selectmenu2:hover .selectthird1 {
  top: -89px;
}

.logo .logo-bottom .logo-bottom-goods .logo-bottom-goodsselect ul .selectmenu3:hover .selectthird1 {
  top: -133px;
}

.logo .logo-bottom .logo-bottom-goods .logo-bottom-goodsselect ul .selectmenu4:hover .selectthird1 {
  top: -177px;
}

.logo .logo-bottom .logo-bottom-goods .logo-bottom-goodsselect ul .selectmenu5:hover .selectthird1 {
  top: -221px;
}

.logo .logo-bottom .logo-bottom-goods .logo-bottom-goodsselect ul .selectmenu2 .logo-bottom-goodsselect-1 span:nth-of-type(1) {
  background: url(../imgs/selectmenu.png) 100% -69px no-repeat;
}

.logo .logo-bottom .logo-bottom-goods .logo-bottom-goodsselect ul .selectmenu3 .logo-bottom-goodsselect-1 span:nth-of-type(1) {
  background: url(../imgs/selectmenu.png) 100% -208px no-repeat;
}

.logo .logo-bottom .logo-bottom-goods .logo-bottom-goodsselect ul .selectmenu4 .logo-bottom-goodsselect-1 span:nth-of-type(1) {
  background: url(../imgs/selectmenu.png) 100% -245px no-repeat;
}

.logo .logo-bottom .logo-bottom-goods .logo-bottom-goodsselect ul .selectmenu5 .logo-bottom-goodsselect-1 span:nth-of-type(1) {
  background: url(../imgs/selectmenu.png) 100% -314px no-repeat;
}

.logo .logo-bottom .logo-bottom-goods .logo-bottom-goodsselect ul .selectmenusell {
  position: relative;
  width: 100%;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
}

.logo .logo-bottom .logo-bottom-goods .logo-bottom-goodsselect ul .selectmenusell img {
  width: 17px;
  height: 22px;
  float: left;
  margin: 14px 5px 0 20px;
}

.logo .logo-bottom .logo-bottom-goods .logo-bottom-goodsselect ul .selectmenusell a {
  float: left;
  color: #22990d;
  font-size: 14px;
  height: 28px;
  line-height: 28px;
  margin: 11px 0 0 0;
}

.logo .logo-bottom .logo-bottom-goods .logo-bottom-goodsselect ul .selectmenusell .selectmenusell-num {
  float: left;
  height: 20px;
  border-radius: 8px;
  color: #fff;
  background: #fb6003;
  padding: 0 9px;
  line-height: 20px;
  margin: 14px 0 0 10px;
  font-size: 14px;
}

.logo .logo-bottom .logo-bottom-goods .logo-bottom-goodsselect ul .selectmenusell .selectmenusell-in {
  display: none;
  position: absolute;
  left: 226px;
  top: -265px;
  border: 1px solid #62a727;
  width: 778px;
  height: 444px;
  box-shadow: 3px 3px 4px #777;
  padding: 10px 8px 0;
  background: #fff;
}

.logo .logo-bottom .logo-bottom-goods .logo-bottom-goodsselect ul .selectmenusell .selectmenusell-in .selectmenusell-in-top {
  float: left;
  width: 778px;
  height: 374px;
}

.logo .logo-bottom .logo-bottom-goods .logo-bottom-goodsselect ul .selectmenusell .selectmenusell-in .selectmenusell-in-top p {
  display: inline-block;
  width: 375px;
  height: 175px;
  float: left;
  background: pink;
  margin: 0 5px 10px 5px;
}

.logo .logo-bottom .logo-bottom-goods .logo-bottom-goodsselect ul .selectmenusell .selectmenusell-in .selectmenusell-in-top p img {
  width: 100%;
  height: 100%;
  margin: 0;
}

.logo .logo-bottom .logo-bottom-goods .logo-bottom-goodsselect ul .selectmenusell .selectmenusell-in .selectmenusell-in-bottom {
  float: left;
  width: 778px;
  height: 52px;
}

.logo .logo-bottom .logo-bottom-goods .logo-bottom-goodsselect ul .selectmenusell .selectmenusell-in .selectmenusell-in-bottom .selectmenusellarrow {
  float: left;
  width: 38px;
  height: 22px;
  border: 1px solid #379527;
  text-align: center;
  line-height: 22px;
}

.logo .logo-bottom .logo-bottom-goods .logo-bottom-goodsselect ul .selectmenusell .selectmenusell-in .selectmenusell-in-bottom .selectmenusellarrow e {
  display: inline-block;
  background: url(../imgs/bg2.png) -18px -1285px no-repeat;
  width: 7px;
  height: 11px;
}

.logo .logo-bottom .logo-bottom-goods .logo-bottom-goodsselect ul .selectmenusell .selectmenusell-in .selectmenusell-in-bottom .ssarrowl {
  margin: 10px 0 0 325px;
}

.logo .logo-bottom .logo-bottom-goods .logo-bottom-goodsselect ul .selectmenusell .selectmenusell-in .selectmenusell-in-bottom .ssarrowr {
  margin: 10px 0 0 0;
}

.logo .logo-bottom .logo-bottom-goods .logo-bottom-goodsselect ul .selectmenusell .selectmenusell-in .selectmenusell-in-bottom .ssarrowr e {
  background: url(../imgs/bg2.png) -25px -1285px no-repeat;
}

.logo .logo-bottom .logo-bottom-goods .logo-bottom-goodsselect ul .selectmenusell .selectmenusell-in .selectmenusell-in-bottom div {
  height: 22px;
  text-align: center;
  line-height: 22px;
  margin: 10px;
  font-size: 12px;
}

.logo .logo-bottom .logo-bottom-goods .logo-bottom-goodsselect ul .selectmenusell .selectmenusell-in .selectmenusell-in-bottom a img {
  margin: 5px 0 10px 210px;
  width: 110px;
  height: 25px;
}

.logo .logo-bottom .logo-bottom-goods .logo-bottom-goodsselect ul .selectmenusell:hover {
  border-top: 1px solid #62a727;
  border-bottom: 1px solid #62a727;
}

.logo .logo-bottom .logo-bottom-goods .logo-bottom-goodsselect ul .selectmenusell:hover .selectmenusell-in {
  display: block;
}

.logo .logo-bottom .logo-bottom-goods:hover b {
  transform: rotate(180deg);
  transition-duration: 0.5s;
}

.logo .logo-bottom .logo-bottom-goods:hover .logo-bottom-goodsselect {
  display: block;
}

.logo .logo-bottom .logo-bottom-sell {
  width: 760px;
  line-height: 34px;
  height: 34px;
}

.logo .logo-bottom .logo-bottom-sell ul li {
  float: left;
  position: relative;
  padding: 0 25px;
}

.logo .logo-bottom .logo-bottom-sell ul li img {
  position: absolute;
  left: 88px;
  top: -10px;
}

.logo .logo-bottom .logo-bottom-sell ul li a {
  font-weight: 600;
  font-size: 16px;
  color: #000;
  line-height: 34px;
}

.logo .logo-bottom .logo-bottom-sell ul li a b {
  width: 13px;
  height: 17px;
  float: left;
  background: url(../imgs/bg2.png) -35px -1280px no-repeat;
  margin: 10px 5px 0 0;
}

.logo .logo-bottom .logo-bottom-sell ul li:hover a {
  color: green;
}

.logo .logo-bottom .logo-bottom-sell ul li:hover b {
  transform: rotate(360deg);
  transition-duration: 0.5s;
}

.allbanner {
  width: 100%;
  height: 360px;
}

.allbanner .banner {
  width: 1263px;
  height: 360px;
  margin: 0 auto;
  position: relative;
  z-index: 10;
}

.allbanner .banner .bannerleft {
  width: 770px;
  height: 360px;
  position: absolute;
  left: 252px;
  top: 0;
  cursor: pointer;
}

.allbanner .banner .bannerleft div {
  position: absolute;
  top: 0;
  left: 0;
}

.allbanner .banner .bannerleft div .bannerimg.active {
  opacity: 1;
}

.allbanner .banner .bannerleft div .bannerimg {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.allbanner .banner .bannerleft .bannernum {
  width: 770px;
  height: 21px;
  positon: absolute;
  top: 320px;
  left: 0;
}

.allbanner .banner .bannerleft .bannernum span {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: #999;
  color: #fff;
  float: left;
  text-align: center;
  line-height: 21px;
  margin-right: 5px;
  cursor: pointer;
}

.allbanner .banner .bannerleft .bannernum span:nth-of-type(1) {
  margin-left: 330px;
}

.allbanner .banner .bannerleft .bannernum .active1 {
  background: #fff;
  color: #000;
}

.allbanner .banner .bannerright {
  width: 200px;
  height: 360px;
  position: absolute;
  left: 1022px;
  top: 0;
  overflow: hidden;
}

.allbanner .banner .bannerright div {
  width: 200px;
  height: 119px;
  border-bottom: 1px dotted #ddd;
  position: absolute;
  left: 0;
  top: 0;
  transition: left 0.6s;
}

.allbanner .banner .bannerright div img {
  height: 119px;
  width: 100%;
}

.allbanner .banner .bannerright div:nth-of-type(2) {
  top: 120px;
}

.allbanner .banner .bannerright div:nth-of-type(3) {
  top: 240px;
}

.allbanner .banner .bannerright div:hover {
  left: -15px;
}

.allmadbuying {
  margin-top: 30px;
  width: 100%;
  height: 480px;
}

.allmadbuying .madbuying {
  width: 1200px;
  height: 480px;
  margin: 0 auto;
}

.allmadbuying .madbuying .madbuyingleft {
  width: 328px;
  height: 460px;
  float: left;
  background: #ff827f;
}

.allmadbuying .madbuying .madbuyingleft .madbuyinglefttop {
  padding-top: 50px;
  width: 252px;
  padding-left: 16px;
  height: 95px;
  margin-left: 30px;
}

.allmadbuying .madbuying .madbuyingleft .madbuyingleftmid {
  margin-left: 30px;
  width: 268px;
  height: 28px;
  line-height: 28px;
  font-size: 14px;
  text-align: center;
  color: #fff;
  margin-top: 45px;
}

.allmadbuying .madbuying .madbuyingleft .madbuyinglefttimer {
  margin-left: 30px;
  width: 268px;
  height: 45px;
  margin-top: 26px;
}

.allmadbuying .madbuying .madbuyingleft .madbuyinglefttimer span {
  float: left;
  width: 34px;
  height: 45px;
  background: #fff;
  color: #000;
  font-size: 32px;
  text-align: center;
  line-height: 45px;
  border-radius: 8px;
  margin-right: 5px;
}

.allmadbuying .madbuying .madbuyingleft .madbuyinglefttimer span:nth-of-type(1) {
  margin-left: 10px;
}

.allmadbuying .madbuying .madbuyingleft .madbuyinglefttimer b {
  float: left;
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  width: 10px;
  line-height: 45px;
}

.allmadbuying .madbuying .madbuyingleft .madbuyingleftbottom {
  margin-left: 30px;
  margin-top: 20px;
  padding-left: 63px;
  width: 205px;
  height: 52px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  position: relative;
  font-weight: 600;
}

.allmadbuying .madbuying .madbuyingleft .madbuyingleftbottom span {
  background: url(../imgs/madbuyingicon.png) -14px -15px no-repeat;
  position: absolute;
  width: 30px;
  height: 30px;
  left: 180px;
  top: 14px;
}

.allmadbuying .madbuying .madbuyingleft .madbuyinglefton {
  margin-left: 30px;
  width: 268px;
  height: 26px;
  font-size: 20px;
  margin-top: 5px;
  text-align: center;
  color: #fff;
}

.allmadbuying .madbuying .madbuyingright {
  width: 870px;
  height: 458px;
  float: left;
  border: 1px solid #e7e7e7;
  border-left: none;
  border-right: none;
}

.allmadbuying .madbuying .madbuyingright .madbuyingrighttop {
  position: relative;
  margin-left: 15px;
  width: 856px;
  height: 67px;
}

.allmadbuying .madbuying .madbuyingright .madbuyingrighttop ul {
  width: 826px;
  height: 67px;
  height: 66px;
  border-bottom: 1px dashed #e7e7e7;
  margin: 0 20px;
}

.allmadbuying .madbuying .madbuyingright .madbuyingrighttop ul li {
  float: left;
  width: 119px;
  height: 45px;
  color: #000;
  padding: 18px 0px 3px 0px;
  cursor: pointer;
}

.allmadbuying .madbuying .madbuyingright .madbuyingrighttop ul .madbuyingon p {
  font-size: 14px;
  font-weight: 600;
  color: #999;
}

.allmadbuying .madbuying .madbuyingright .madbuyingrighttop ul li:nth-of-type(1) {
  margin-left: 30px;
}

.allmadbuying .madbuying .madbuyingright .madbuyingrighttop ul li:nth-of-type(7) {
  width: 79px;
}

.allmadbuying .madbuying .madbuyingright .madbuyingrightbottom {
  position: relative;
  margin-left: 15px;
  width: 856px;
  height: 364px;
}

.allmadbuying .madbuying .madbuyingright .madbuyingrightbottom ul {
  margin-top: 15px;
  overflow: hidden;
}

.allmadbuying .madbuying .madbuyingright .madbuyingrightbottom ul li {
  width: 171px;
  float: left;
  height: 328px;
  padding: 18px 20px 20px 20px;
}

.allmadbuying .madbuying .madbuyingright .madbuyingrightbottom ul li .madbuyingimg {
  width: 155px;
  height: 154px;
  cursor: pointer;
}

.allmadbuying .madbuying .madbuyingright .madbuyingrightbottom ul li .madbuyingimg img {
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
  border: 1px solid #fff;
  width: 100%;
  height: 100%;
}

.allmadbuying .madbuying .madbuyingright .madbuyingrightbottom ul li .madbuyingimg img:hover {
  transform: translateY(-5px);
}

.allmadbuying .madbuying .madbuyingright .madbuyingrightbottom ul li .madbuyingtitle {
  margin-top: 50px;
  font-size: 12px;
  color: #000;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 16px;
  width: 171px;
}

.allmadbuying .madbuying .madbuyingright .madbuyingrightbottom ul li .madbuyingprice {
  color: #dd2727;
  margin-top: 10px;
  width: 171px;
  height: 26px;
  font-size: 12px;
}

.allmadbuying .madbuying .madbuyingright .madbuyingrightbottom ul li .madbuyingprice span {
  float: left;
  line-height: 26px;
}

.allmadbuying .madbuying .madbuyingright .madbuyingrightbottom ul li .madbuyingprice span:nth-of-type(2) {
  color: #dd2727;
  font-size: 20px;
}

.allmadbuying .madbuying .madbuyingright .madbuyingrightbottom ul li .madbuyingprice span:nth-of-type(3) {
  text-decoration: line-through;
  margin-left: 5px;
  font-size: 12px;
  color: #999;
}

.allmadbuying .madbuying .madbuyingright .madbuyingrightbottom ul li .madbuyingline {
  width: 171px;
  height: 5px;
  border-radius: 30px;
  background: #d7d7d7;
  margin-top: 20px;
}

.allmadbuying .madbuying .madbuyingright .madbuyingrightbottom ul li .madbuyingover {
  margin-top: 15px;
  margin-left: 25px;
  width: 171px;
  height: 30px;
}

.allmadbuying .madbuying .madbuyingright .madbuyingrightbottom ul li .madbuyingover span {
  display: block;
  background: #cdcdcd;
  width: 120px;
  height: 30px;
  line-height: 30px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 14px;
  color: #fff;
  text-align: center;
}

.allmadbuying .madbuying .madbuyingright .madbuyingrightbottom .madbuyingarrowl {
  width: 29px;
  height: 64px;
  background: url(../imgs/madbuyingicon.png) no-repeat;
  background-position: -12px -76px;
  position: absolute;
  top: 122px;
  left: -16px;
  z-index: 100;
  cursor: pointer;
}

.allmadbuying .madbuying .madbuyingright .madbuyingrightbottom .madbuyingarrowr {
  width: 29px;
  height: 64px;
  background: url(../imgs/madbuyingicon.png) no-repeat;
  background-position: -45px -76px;
  position: absolute;
  top: 122px;
  right: -5px;
  z-index: 100;
  cursor: pointer;
}

.allmadbuying .madbuying .madbuyingwave {
  height: 45px;
  background: url(../imgs/madbuyingwave.png) no-repeat;
  animation: 8s linear 0s none infinite tweenx;
  margin-top: 23px;
  -webkit-animation: 8s linear 0s none infinite tweenx;
  -moz-animation: 8s linear 0s none infinite tweenx;
}

.allnewtaste {
  margin-top: 30px;
  width: 100%;
  height: 330px;
}

.allnewtaste .newtaste {
  width: 1200px;
  height: 330px;
  margin: 0 auto;
}

.allnewtaste .newtaste .newtasteleft {
  width: 328px;
  height: 330px;
  position: relative;
  float: left;
}

.allnewtaste .newtaste .newtasteleft .newtastelefcover {
  background: #ed499b;
  opacity: 0.8;
  width: 245px;
  height: 200px;
  position: absolute;
  bottom: 20px;
  left: 41px;
}

.allnewtaste .newtaste .newtasteleft .newtastelefcover .newtasteleftall {
  width: 233px;
  height: 188px;
  position: absolute;
  top: 5px;
  left: 5px;
  border: 1px solid #fff;
}

.allnewtaste .newtaste .newtasteleft .newtastelefcover .newtasteleftall .newtasteleftall1 {
  font-size: 45px;
  width: 233px;
  height: 60px;
  text-align: center;
  color: #fff;
}

.allnewtaste .newtaste .newtasteleft .newtastelefcover .newtasteleftall .newtasteleftall2 {
  width: 233px;
  height: 16px;
  font-size: 12px;
  text-align: center;
  color: #fff;
}

.allnewtaste .newtaste .newtasteleft .newtastelefcover .newtasteleftall .newtasteleftall3 {
  width: 233px;
  height: 16px;
  margin-top: 5px;
}

.allnewtaste .newtaste .newtasteleft .newtastelefcover .newtasteleftall .newtasteleftall3 img {
  margin-left: 18px;
}

.allnewtaste .newtaste .newtasteleft .newtastelefcover .newtasteleftall .newtasteleftall4 {
  width: 233px;
  height: 16px;
  font-size: 12px;
  text-align: center;
  color: #fff;
}

.allnewtaste .newtaste .newtasteleft .newtastelefcover .newtasteleftall .newtasteleftall5 {
  width: 233px;
  height: 26px;
  font-size: 20px;
  text-align: center;
  color: #fffc00;
}

.allnewtaste .newtaste .newtasteleft .newtastelefcover .newtasteleftall .newtasteleftall6 {
  background: #fffc00;
  height: 30px;
  line-height: 30px;
  position: absolute;
  bottom: 0;
  text-align: center;
  left: 0;
  width: 233px;
}

.allnewtaste .newtaste .newtasteleft .newtastelefcover .newtasteleftall .newtasteleftall6 a {
  color: #444;
}

.allnewtaste .newtaste .newtasteleft .newtastelefcover .newtasteleftall .newtasteleftall6 a:hover {
  color: #248DCC;
}

.allnewtaste .newtaste .newtasteright {
  width: 871px;
  height: 328px;
  border: 1px solid #e7e7e7;
  float: right;
  border-left: 0;
}

.allnewtaste .newtaste .newtasteright ul {
  width: 873px;
  height: 326px;
}

.allnewtaste .newtaste .newtasteright ul li {
  padding: 30px 0 30px 30px;
  width: 261px;
  float: left;
}

.allnewtaste .newtaste .newtasteright ul li .newtasterighttop {
  padding-right: 30px;
  border-right: 1px solid #e7e7e7;
  width: 230px;
  height: 132px;
}

.allnewtaste .newtaste .newtasteright ul li .newtasterighttop h2 {
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #333;
  font-size: 14px;
  width: 230px;
  height: 19px;
}

.allnewtaste .newtaste .newtasteright ul li .newtasterighttop p:nth-of-type(1) {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #999;
  font-size: 12px;
  width: 230px;
  height: 16px;
  margin-top: 5px;
}

.allnewtaste .newtaste .newtasteright ul li .newtasterighttop .newtasterighttopprice {
  color: #FF0000;
  font-size: 14px;
  width: 230px;
  height: 19px;
  margin-top: 10px;
}

.allnewtaste .newtaste .newtasteright ul li .newtasterighttop div {
  width: 230px;
  height: 43px;
  margin-top: 20px;
}

.allnewtaste .newtaste .newtasteright ul li .newtasterighttop div p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 5px;
  width: 230px;
  height: 16px;
  color: #999;
}

.allnewtaste .newtaste .newtasteright ul li .newtasterightbottom {
  margin-top: 15px;
  position: relative;
  width: 261px;
  height: 119px;
}

.allnewtaste .newtaste .newtasteright ul li .newtasterightbottom img {
  position: absolute;
  top: -10px;
  right: 0px;
  width: 145px;
  height: 145px;
  z-index: -1;
  text-align: right;
}

.alldetail {
  height: 580px;
  width: 100%;
  margin-top: 30px;
}

.alldetail .detail {
  height: 580px;
  width: 1200px;
  margin: 0 auto;
}

.alldetail .detail .detailtop {
  padding-bottom: 10px;
  color: #333;
  font-size: 20px;
  height: 26px;
  width: 1200px;
}

.alldetail .detail .detailtop i {
  width: 30px;
  height: 30px;
  float: left;
  margin-right: 5px;
  background: url(../imgs/index-detailbg1.png) no-repeat;
}

.alldetail .detail .detailmiddle {
  height: 477px;
  width: 1200px;
}

.alldetail .detail .detailmiddle .detailmiddlel {
  width: 328px;
  height: 477px;
  position: relative;
  float: left;
}

.alldetail .detail .detailmiddle .detailmiddlel .detailmiddlelb {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  width: 398px;
  height: 148px;
  left: 0;
  bottom: 0;
  padding: 15px;
}

.alldetail .detail .detailmiddle .detailmiddlel .detailmiddlelb .detailmiddlelbt {
  color: #666;
}

.alldetail .detail .detailmiddle .detailmiddlel .detailmiddlelb .detailmiddlelbt span {
  float: left;
  width: 87px;
  line-height: 30px;
  height: 30px;
}

.alldetail .detail .detailmiddle .detailmiddlel .detailmiddlelb .detailmiddlelbt i {
  float: left;
  margin-left: 10px;
  width: 27px;
  height: 27px;
  background: url(../imgs/madbuyingicon.png) no-repeat;
  background-position: -113px -170px;
}

.alldetail .detail .detailmiddle .detailmiddlel .detailmiddlelb .detailmiddlelbt b {
  float: left;
  margin: 5px 15px 0 5px;
  color: #666;
  font-size: 14px;
  width: 59px;
  height: 19px;
  line-height: 19px;
  display: inline-block;
}

.alldetail .detail .detailmiddle .detailmiddlel .detailmiddlelb .detailmiddlelbb {
  width: 315px;
  height: 102px;
  margin-top: 10px;
}

.alldetail .detail .detailmiddle .detailmiddlel .detailmiddlelb .detailmiddlelbb li {
  width: 87px;
  height: 24px;
  line-height: 24px;
  margin-top: 10px;
  float: left;
  text-align: center;
  border-radius: 30px;
  margin-right: 18px;
  background: #fff;
  color: #444;
  cursor: pointer;
}

.alldetail .detail .detailmiddle .detailmiddler {
  width: 872px;
  height: 476px;
  border-top: 1px solid #459d36;
  position: relative;
  float: right;
}

.alldetail .detail .detailmiddle .detailmiddler .detailmiddlercover {
  position: absolute;
  border-right: 1px solid #e7e7e7;
  top: -35px;
  right: 0;
  width: 872px;
  height: 35px;
  text-align: right;
}

.alldetail .detail .detailmiddle .detailmiddler .detailmiddlercover ul {
  border-left: 1px solid #e7e7e7;
  margin-right: 0px;
  width: 410px;
  height: 35px;
  float: right;
}

.alldetail .detail .detailmiddle .detailmiddler .detailmiddlercover ul li {
  cursor: pointer;
  float: left;
  border-bottom: 1px solid #459d36;
  border-left: #fff;
  height: 33px;
  border-top: 1px solid #e7e7e7;
}

.alldetail .detail .detailmiddle .detailmiddler .detailmiddlercover ul li span {
  padding: 0 15px;
  margin-top: 7px;
  border-right: 1px solid #e7e7e7;
  font-size: 14px;
  display: block;
  text-align: center;
}

.alldetail .detail .detailmiddle .detailmiddler .detailmiddlercover ul .detailmiddlerchover {
  border-left: 1px solid #459d36;
  border-right: 1px solid #459d36;
  border-top: 1px solid #459d36;
  margin-left: -2px;
  border-bottom: 1px solid #fff;
}

.alldetail .detail .detailmiddle .detailmiddler .detailmiddlerprod {
  width: 872px;
  height: 476px;
}

.alldetail .detail .detailmiddle .detailmiddler .detailmiddlerprod ul {
  width: 872px;
  height: 476px;
}

.alldetail .detail .detailmiddle .detailmiddler .detailmiddlerprod ul li {
  border-bottom: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
  width: 197px;
  padding: 10px;
  height: 217px;
  float: left;
  cursor: pointer;
}

.alldetail .detail .detailmiddle .detailmiddler .detailmiddlerprod ul li .detailmiddlerprodimg {
  width: 200px;
  text-align: center;
  height: 161px;
}

.alldetail .detail .detailmiddle .detailmiddler .detailmiddlerprod ul li .detailmiddlerprodimg img {
  cursor: pointer;
  width: 156px;
  height: 156px;
  transition: all .5s ease;
  margin-left: 22px;
  margin-top: 2px;
}

.alldetail .detail .detailmiddle .detailmiddler .detailmiddlerprod ul li .detailmiddlerprodimg img:hover {
  transform: translateY(-5px);
}

.alldetail .detail .detailmiddle .detailmiddler .detailmiddlerprod ul li h2 {
  height: 32px;
  color: #666;
  width: 197px;
}

.alldetail .detail .detailmiddle .detailmiddler .detailmiddlerprod ul li .detailmiddlerprodprice {
  margin-top: 5px;
  font-size: 16px;
  color: #dd2727;
}

.alldetail .detail .detailbottom {
  border-right: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  width: 1199px;
  height: 66px;
}

.alldetail .detail .detailbottom li {
  width: 148px;
  height: 58px;
  border-left: 1px solid #e7e7e7;
  text-align: center;
  padding-top: 8px;
  float: left;
  cursor: pointer;
}

.alldetail .detail .detailbottom li img {
  width: 100px;
  height: 48px;
  margin-left: 25px;
}

.allfooter {
  height: 450px;
  background: #f5f5f5;
  width: 100%;
}

.allfooter .footer {
  height: 425px;
  width: 1263px;
  margin: 0 auto;
}

.allfooter .footer .footertop {
  height: 100px;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
}

.allfooter .footer .footertop ul {
  width: 1200px;
  height: 62px;
  padding: 19px 0;
  margin-left: 30px;
  display: block;
}

.allfooter .footer .footertop ul li {
  float: left;
  width: 200px;
}

.allfooter .footer .footertop ul li a {
  display: block;
  width: 128px;
  height: 62px;
  padding-left: 72px;
  line-height: 62px;
  color: #444;
  font-weight: 600;
  background: url(../imgs/index-footer.png) 0 0 no-repeat;
  font-size: 18px;
  transition: 1s;
}

.allfooter .footer .footertop ul li a:hover {
  color: #ed4044;
  transform: translateY(-5px);
}

.allfooter .footer .footertop ul li:nth-of-type(2) a {
  background-position: 0 -82px;
}

.allfooter .footer .footertop ul li:nth-of-type(3) a {
  background-position: 0 -162px;
}

.allfooter .footer .footertop ul li:nth-of-type(4) a {
  background-position: 0 -242px;
}

.allfooter .footer .footertop ul li:nth-of-type(5) a {
  background-position: 0 -322px;
}

.allfooter .footer .footertop ul li:nth-of-type(6) a {
  background-position: 0 -402px;
}

.allfooter .footer .footermiddle {
  height: 132px;
  width: 100%;
  padding-top: 25px;
}

.allfooter .footer .footermiddle ul {
  height: 132px;
  width: 1200px;
  border-bottom: 1px solid #e5e5e5;
  margin-left: 30px;
  padding-bottom: 25px;
}

.allfooter .footer .footermiddle ul li {
  margin-right: 85px;
  width: 56px;
  height: 132px;
  float: left;
}

.allfooter .footer .footermiddle ul li h2 {
  font-weight: 600;
  color: #666;
  font-size: 14px;
  width: 56px;
  height: 19px;
  line-height: 19px;
}

.allfooter .footer .footermiddle ul li p {
  margin-top: 5px;
  color: #444;
  font-size: 14px;
}

.allfooter .footer .footermiddle ul li:nth-of-type(1) {
  width: 330px;
  height: 132px;
  margin-right: 0;
}

.allfooter .footer .footermiddle ul li:nth-of-type(1) img {
  float: left;
  margin-top: 5px;
}

.allfooter .footer .footermiddle ul li:nth-of-type(1) .footermidserver {
  float: left;
  width: 195px;
  height: 131px;
  margin-left: 30px;
}

.allfooter .footer .footermiddle ul li:nth-of-type(1) .footermidserver h2 {
  font-size: 12px;
  height: 16px;
  line-height: 16px;
  width: 195px;
}

.allfooter .footer .footermiddle ul li:nth-of-type(1) .footermidserver p {
  font-size: 20px;
  margin-top: 15px;
  color: #666;
  height: 26px;
  line-height: 26px;
  width: 195px;
  position: relative;
}

.allfooter .footer .footermiddle ul li:nth-of-type(1) .footermidserver p .footermidchangtu {
  font-size: 10px;
  color: #666;
  margin-left: 5px;
  display: block;
  width: 60px;
  height: 16px;
  line-height: 16px;
  position: absolute;
  left: 132px;
  top: 8px;
}

.allfooter .footer .footermiddle ul li:nth-of-type(1) .footermidserver p:nth-of-type(3) {
  font-size: 12px;
  font-weight: 400;
}

.allfooter .footer .footermiddle ul li:nth-of-type(2) {
  margin-left: 40px;
}

.allfooter .footer .footermiddle ul li:nth-of-type(2) p {
  cursor: pointer;
}

.allfooter .footer .footermiddle ul li:nth-of-type(2) p:hover {
  color: #ed4044;
}

.allfooter .footer .footermiddle ul li:nth-of-type(2) p:nth-of-type(1) {
  margin-top: 20px;
}

.allfooter .footer .footermiddle ul li:nth-of-type(3) p,
.allfooter .footer .footermiddle ul li:nth-of-type(4) p,
.allfooter .footer .footermiddle ul li:nth-of-type(5) p {
  cursor: pointer;
}

.allfooter .footer .footermiddle ul li:nth-of-type(3) p:hover,
.allfooter .footer .footermiddle ul li:nth-of-type(4) p:hover,
.allfooter .footer .footermiddle ul li:nth-of-type(5) p:hover {
  color: #ed4044;
}

.allfooter .footer .footermiddle ul li:nth-of-type(3) p:nth-of-type(1),
.allfooter .footer .footermiddle ul li:nth-of-type(4) p:nth-of-type(1),
.allfooter .footer .footermiddle ul li:nth-of-type(5) p:nth-of-type(1) {
  margin-top: 20px;
}

.allfooter .footer .footermiddle ul li:nth-of-type(6) {
  margin-top: -5px;
  margin-right: 36px;
  width: 92px;
  height: 137px;
}

.allfooter .footer .footermiddle ul li:nth-of-type(6) p {
  font-size: 10px;
  width: 92px;
  height: 16px;
  line-height: 16px;
  text-align: center;
}

.allfooter .footer .footermiddle ul li:nth-of-type(6) img {
  margin-top: 10px;
  width: 92px;
  height: 92px;
}

.allfooter .footer .footermiddle ul li:nth-of-type(7) {
  width: 92px;
  height: 137px;
  margin-top: -5px;
  margin-right: 0;
}

.allfooter .footer .footermiddle ul li:nth-of-type(7) p {
  font-size: 10px;
  width: 92px;
  height: 16px;
  line-height: 16px;
  text-align: center;
}

.allfooter .footer .footermiddle ul li:nth-of-type(7) img {
  margin-top: 10px;
  width: 92px;
  height: 92px;
}

.allfooter .footer .footerbottom {
  height: 186px;
  width: 100%;
  margin-top: 25px;
}

.allfooter .footer .footerbottom .footerbottomt {
  padding-top: 20px;
  width: 1150px;
  margin-left: 30px;
  height: 20px;
}

.allfooter .footer .footerbottom .footerbottomt span {
  margin-right: 5px;
  color: #999;
  float: left;
  width: 60px;
  height: 16px;
  line-height: 16px;
}

.allfooter .footer .footerbottom .footerbottomt ul {
  float: left;
  width: 1080px;
  height: 16px;
}

.allfooter .footer .footerbottom .footerbottomt ul li {
  color: #999;
  float: left;
  height: 16px;
  margin: 0 15px 10px 0;
}

.allfooter .footer .footerbottom .footerbottomt ul li:hover {
  cursor: pointer;
  color: #ed4044;
  text-decoration: underline;
}

.allfooter .footer .footerbottom .footerbottomm {
  width: 1090px;
  margin-top: 20px;
  height: 30px;
  padding-left: 110px;
}

.allfooter .footer .footerbottom .footerbottomm a {
  float: left;
  width: 80px;
  height: 30px;
  margin-right: 3px;
}

.allfooter .footer .footerbottom .footerbottomm a img {
  width: 80px;
  height: 30px;
}

.allfooter .footer .footerbottom .footerbottomb {
  width: 1200px;
  height: 16px;
  padding: 20px 0 40px;
}

.allfooter .footer .footerbottom .footerbottomb p {
  width: 1200px;
  height: 16px;
  color: #000;
  text-align: center;
}
