/* 头部 登录注册等*/
.allheader {
	height: 28px;
	background: #f5f5f5;
	width: 100%;
	border-bottom:1px solid #ddd;
}
.header {
	width: 1263px;
	height: 28px;
	background: #f5f5f5;
	margin: 0 auto;
	position: relative;
	border-bottom:1px solid #ddd;
	.header-left-send {
		position:absolute;
		margin-top: 7px;
		margin-left: 20px;
	}
	.header-left-place {
		position: relative;
		width: 49px;
		height: 28px;
		left: 60px;
		cursor: pointer;
		.header-left-place-main {
			position: absolute;
			height: 28px;
			line-height: 28px;
			width: 49px;
		}
		.header-left-place-b {
			background: url(../imgs/head.png) 0px -31px no-repeat;
			display: block;
			width: 15px;
			height: 15px;
			position: absolute;
			left: 26px;
			top: 9px;
		}
		.header-left-place-hidden {
			background: #fff;
			display:none;
			position: absolute;
			z-index: 200;
			left: 0;
			top: 28px;
			width: 380px;
			height: 295px;
			border: 1px solid #ddd;
			.header-left-place-hideul {
				position: absolute;
				left: 5px;
				border-bottom: 1px solid #ddd;
				padding-top: 5px;
				height: 25px;
				width: 370px;
				li {
					float: left;
					line-height: 24px;
					height: 25px;
					cursor: pointer;
					width: 70px;
					border: 1px solid #ddd;
					border-bottom: none;
					text-align: center;
					margin: 0 2px;
					background: #f6f6f6;
				}
				li:nth-of-type(1) {
					margin-left:0 ;
				}
			}
			.header-left-place-hiddcontentall {
				margin-top: 5px;
				position: absolute;
				top: 25px;
				.header-left-place-hiddcontent {
					padding: 10px 10px 5px;
					span {
						color: #999;
						border-right: 1px dotted #e8e8e8;
						padding-right: 3px;
					}
					a {
						color: #666;
						padding: 2px 10px;
					}
					a:hover {
						background: #fb6003;
						color: #fff;
					}
				}
			}
		}
	}
	.header-left-place:hover {
		.header-left-place-hidden {
			display: block;
		}
		.header-left-place-b {
			background: url(../imgs/head.png) 0px -45px no-repeat;
		}
	}
	
	.header-left-right{
		position: absolute;
		left: 110px;
		top: 4px;
		width: 95px;
		height: 21px;
		line-height: 20px;
		text-indent: 28px;
		color: #666;
		background: url(../imgs/bg.png) 0 -429px no-repeat;
	}
	.header-left-right2 {
		position: absolute;
		left: 215px;
		top: 4px;
		width: 95px;
		height: 21px;
		line-height: 20px;
		color: #666;
		span {
			color: #FF6600;
		}
	}
	.header-right {
		width: 700px;
		height: 28px;
		position: absolute;
		padding-right: 36px;
		right: 0;
		top: 0;
		ul {
			width: 100%;
			height: 100%;
			li {
				position: relative;
				z-index: 50;
				float: right;
				padding: 0 5px;
				height: 26px;
				line-height: 26px;
				border: 1px solid #F5F5F5;
				a {
					color: #444;
				}
				a:hover {
						color: #248DCC;
					}
			}
			.header-right-suggest {
					color: #FF0000;
				}
			.header-right-mobile {
				display: block;
				width: 13px;
				height: 13px;
				background: url(../imgs/bg.png) -334px -46px no-repeat;
				float: left;
				margin-top: 7px;
				margin-right: 5px;
			}
			.header-right-collect {
				padding-right: 14px;
				b {
					position: absolute;
					top: 11px;
					right: 0;
					width: 0;
					height: 0;
					border: transparent solid 4px;
					border-top-color: #717171;
					cursor: pointer;
				}
				.header-right-collectdiv {
					display: none;
					background: #fff;
					position: absolute;
					width: 200px;
					height: 60px;
					border: 1px solid #ddd;
					right: 0;
					border-top: none;
					box-shadow: 3px 3px 4px #777;
					z-index: 100;
					span {
						width: 80px;
						height: 30px;
						line-height: 30px;
						text-align: center;
						float: left;
						color: #444;
						background-image: url(../imgs/btn.png);
						background-repeat: no-repeat;
						background-size: 100% 460px;
						cursor: pointer;
					}
					span:hover {
						background-position: 0 -115px;
					}
					.header-right-collectbtn1 {
						margin: 16px 5px 0 15px;
					}
					.header-right-collectbtn2 {
						margin: 16px 0 0 5px;
					}
				}	
			}
			.header-right-collect:hover {
				b {
					transform-origin: 4px 2px;
					transform: rotateZ(180deg);
					transition-duration: 1s;
				}
				.header-right-collectdiv {
					display: block;
				}
			}
			.header-right-mine {
				padding-right: 14px;
				i {
					width: 13px;
					height: 13px;
					background: url(../imgs/bg.png) -312px -46px no-repeat;
					float: left;
					margin-top: 7px;
					margin-right: 5px;
				}
				b {
					position: absolute;
					top: 11px;
					right: 0;
					width: 0;
					height: 0;
					border: transparent solid 4px;
					border-top-color: #717171;
					cursor: pointer;
				}
				.header-right-mineul {
					background: #fff;
					position:absolute;
					width: 100px;
					height: 85px;
					border: 1px solid #ddd;
					box-shadow: 3px 3px 4px #777;
					border-top: none;
					display: none;
					li {
						float:left;
						width: 60px;
						height: 24px;
						line-height: 24px;
						background: url(../imgs/bg2.png) 0 -256px no-repeat;
						cursor: pointer;
						border: 0;
						margin-left: 10px;
						padding-left: 10px;
					}
					li:hover {
						color: #248DCC;
					}
				}
			}
			.header-right-mine:hover {
				b {
					transform-origin: 4px 2px;
					transform: rotateZ(180deg);
					transition-duration: 1s;
				}
				.header-right-mineul {
					display: block;
				}
			}
			
			.header-right-cart {
				display: block;
				width: 14px;
				height: 14px;
				background: url(../imgs/bg.png) -291px -46px no-repeat;
				float: left;
				margin-top: 7px;
				margin-right: 5px;
			}
			.header-right-cartnum {
				color: red;
			}
		}

	}
}



/*
	最右边的提示
*/
.righthint{
	background: #444;
	width: 35px;
	height:100%;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 101;
}

/*
	logo
*/
.alllogo {
	height: 154px;
	width: 100%;
}
.logo {
	width: 1263px;
	height: 154px;
	margin: 0 auto;
	.logo-top {
		width: 100%;
		height: 120px;
		.logo-logoer {
			margin-left: 25px;
			margin-top: 7px;
			float: left;
			width: 230px;
			height: 100px;
			background: url(../imgs/epet-logo.png);
		}
		.logo-search {
			margin-left: 70px;
			float: left;
			width: 550px;
			height: 120px;
			.logo-search-top {
				width: 500px;
				height: 34px;
				margin-top: 33px;
				input {
					padding-left: 15px;
					float: left;
					width: 388px;
					height: 30px;
					border: 2px solid #459d36;
					color: #999;
				}
				span {
					float: left;
					width: 73px;
					height: 34px;
					line-height: 34px;
					color: #fff;
					background: #459d36;
					text-align: center;
				}
			}
			.logo-search-bottom {
				width: 500px;
				height: 24px;
				margin-top: 9px;
				span {
					color: #999;
					float: left;
				}
				ul {
					overflow:hidden;
					li {
						color: #999;
						padding: 0 10px;
						float: left;
						border-right: 1px solid #999;
						cursor: pointer;
					}
					li:nth-of-type(1){
						padding-left: 0;
						color: red;
					}
					li:nth-of-type(5){
						border-right: 0;
					}
				}
			}
		}
		.logo-cart {
			width: 370px;
			height: 120px;
			float: left;
			.logo-cart-phone {
				margin-top: 40px;
				float: left;
				width:160px;
				height: 45px;
				background: url(../imgs/bg.png) 0 -521px no-repeat;
			}
			.logo-carter {
				float: left;
				width: 130px; 
				height: 39px;
				background: url(../imgs/shopping-cart.gif) no-repeat;
				margin-top: 35px;
				margin-left: 80px;
				text-align: center;
				line-height: 39px;
				a {
					color: #666;
					margin-left: 20px;
					span {
						color: red;
					}
				}
			}
		}
	}
	.logo-bottom {
		width: 100%;
		height: 34px;
		position: relative;	
		div {
			float: left;
			font-size: 16px;
		}
		.logo-bottom-dog {
			position: relative;
			margin-left: 25px;
			a {
				margin-left: 30px;
				color: #444;
			}
			b {
				position: absolute;
				left: 70px;
				top: 10px;
				width: 16px;
				height: 13px;
				background: url(../imgs/bg2.png) -17px -1257px no-repeat;
			}
			width: 112px;
			height: 32px;
			border: 1px solid #e1e1e1;
			cursor: pointer;
			color: #666;
			line-height: 32px;
			.logo-bottom-doggoods {
				display: none;
				height: 360px;
				width: 227px;
				position: absolute;
				top: 34px;
				background: #fff;
				.clothes {
					position: relative;
					width: 227px;
					height: 179px;
					border-bottom: 1px dotted #ccc;
					text-align: center;
					.clotheslogol {
						cursor: pointer;
						display: inline-block;
						width: 63px;
						height: 63px;
						background: url(../imgs/select-pet.png) 0 -253px no-repeat;
						margin-top: 25px;
					}
					.clotheslogor {
						cursor: pointer;
						position: absolute;
						left: 155px;
						top: 30px;
						width: 49px;
						height: 39px;
						background: url(../imgs/dog-cloth.jpg)no-repeat;
					}
					p {
						line-height: 24px;
						height: 24px;
						color: #999;
					}
					a {	
						display: inline-block;
						border: 1px solid #aeaeae;
						color: #aeaeae;
						width: 132px;
						height: 30px;
						line-height: 30px;
						text-align: center;
						border-radius: 3px;
						font-size: 12px;
						margin-top: 5px;
						margin-left: 0;
					}
					a:hover {
						background: #ebebeb;
					}
				}
				.cat {
					position: relative;
					width: 227px;
					height: 179px;
					border-bottom: 1px dotted #ccc;
					text-align: center;
					.catlogol {
						cursor: pointer;
						display: inline-block;
						width: 63px;
						height: 63px;
						background: url(../imgs/select-pet.png) 0 -63px no-repeat;
						margin-top: 25px;
					}
					.catlogor {
						cursor: pointer;
						position: absolute;
						left: 155px;
						top: 30px;
						width: 49px;
						height: 39px;
						background: url(../imgs/cat-cloth.jpg)no-repeat;
					}
					p {
						line-height: 24px;
						height: 24px;
						color: #999;
					}
					a {	
						display: inline-block;
						border: 1px solid  #e74085;
						color:  #e74085;
						width: 132px;
						height: 30px;
						line-height: 30px;
						text-align: center;
						border-radius: 3px;
						font-size: 12px;
						margin-top: 5px;
						margin-left: 0;
					}
					a:hover {
						background: #e74085;
						color: #fff;
					}
				}
			}
		}
		.logo-bottom-dog:hover {
			b {
				transform: rotate(180deg);
				transition-duration: 0.5s;
			}
			.logo-bottom-doggoods {
				display: block;
				z-index: 101;
			}
		}
		.logo-bottom-goods {
			position: relative;
			z-index: 100;
			a {
				margin-left: -15px;
				color: #444;
			}
			b {
				position: absolute;
				left: 85px;
				top: 13px;
				width: 13px;
				height: 7px;
				background: url(../imgs/bg2.png) -17px -1276px no-repeat;
			}
			width: 112px;
			height: 32px;
			border: 1px solid #e1e1e1;
			text-align: center;
			cursor: pointer;
			color: #666;
			line-height: 32px;
			border-left: none;

			.logo-bottom-goodsselect {
				display: block;
				width: 227px;
				position: absolute;
				left: -114px;
				top: 34px;
				background: #fff;
				ul {
					li {
						position: relative;
						width:226px;
						height: 44px;
						line-height: 44px;
						background: url(../imgs/menuLine1.png) 50% bottom no-repeat;

						.logo-bottom-goodsselect-1	{
							width: 100%;
							height: 100%;
							background: url(../imgs/bg2.png) right -1206px no-repeat;
							span:nth-of-type(1) {
								margin: 15px 8px 0 16px;
								float: left;
								width: 18px;
								height: 16px;
								background: url(../imgs/selectmenu.png) 100% 0 no-repeat; 
							}
							span:nth-of-type(2),
							span:nth-of-type(3) {
								float: left;
								width: 72px;
								height: 43px;
								font-size: 14px;
								i {
									color: #999;
									margin-left: 4px;
									width: 40px;
								}
								i:hover {
									color: #999
								}
							}
							span:nth-of-type(2):hover,
							span:nth-of-type(3):hover {
								color: #248DCC;
							}
						}
						.selectthird1 {
							display: none;
							position: absolute;
							z-index: 50;
							left: 226px;
							top: -1px;
							-width: 570px;
							-padding: 10px 8px 0;
							border: 1px solid #62a727;
							background: #f5f5f5;
							line-height: 30px;
							height: 444px;
							box-shadow: 3px 3px 4px #777;
							.selectthird1-in {
								width: 550px;
								padding: 10px;
								background: #fff;
								min-height: 350px;
								.selectthird1-in-top {
									width: 550px;
									height: 205px;
									margin-bottom: 10px;
									.selectthird1-in-top1 {
										height: 40px;
										width: 100%;
										border-bottom: 1px dotted #ddd;
										img {
											width: 35px;
											height: 35px;
											margin-left: 10px;
											float: left;
										}
										a {
											float: left;
											font-size: 16px;
											line-height: 35px;
											height: 35px;
											margin-left: 10px;
										}
										span {
											float: left;
											width: 35px;
											height: 35px;
											background: url(../imgs/bg.png) -470px -240px no-repeat;
										}
										.selectthird1-in-topimg {
											width: 220px;
											height: 35px;
											margin-left: 10px;
											float: left;
										}
									}
									.selectthird1-in-top2 {
										height: 40px;
										width: 100%;
										line-height: 40px;
										border-bottom: 1px dotted #ddd;
										a {
											float: left;
											font-weight: 600;
											color: green;
											font-size: 12px;
											margin-left: 65px;
										}
										img {
											float: left;
											width: 25px;
											height: 25px;
											margin: 7px 0 0 10px;
										}
										span {
											float: left;
											width: 390px;
											height: 40px;
											line-height: 40px;
											ul {
												overflow: hidden;
												margin-top: 12px;
												margin-left: 10px;
												li {
													float: left;
													padding: 0 6px 0 7px;
													width: auto;
													height: 16px;
													line-height: 16px;
													border-left: 1px #ddd solid;
												}
												li:nth-of-type(5) {
													color: red;
												}
												li:hover {
													color: #248DCC;
												}
											}
											
										}
									}
								}
							}
						}
					}
					li:hover {
						background: none;
						border-top:1px solid #62a727;
						border-bottom:1px solid #62a727;
						width: 217px;
						border-right: #fff;
						padding-left: 10px;
						transition-duration: 0.3s;
						.logo-bottom-goodsselect-1 {
							background: none;
						}
						.selectthird1 {
							display: block;
						}
					}
					.selectmenu1 {
						.logo-bottom-goodsselect-1 {
							span:nth-of-type(1) {
								background: url(../imgs/selectmenu.png) 100% -34px no-repeat;
							}
						}
					}
					.selectmenu1:hover {
						.selectthird1 {
							top: -45px;
						}
					}
					.selectmenu2:hover {
						.selectthird1 {
							top: -89px;
						}
					}
					.selectmenu3:hover {
						.selectthird1 {
							top: -133px;
						}
					}
					.selectmenu4:hover {
						.selectthird1 {
							top: -177px;
						}
					}
					.selectmenu5:hover {
						.selectthird1 {
							top: -221px;
						}
					}
					.selectmenu2 {
						.logo-bottom-goodsselect-1 {
							span:nth-of-type(1) {
								background: url(../imgs/selectmenu.png) 100% -69px no-repeat;
							}
						}
						
					}
					.selectmenu3 {
						.logo-bottom-goodsselect-1 {
							span:nth-of-type(1) {
								background: url(../imgs/selectmenu.png) 100% -208px no-repeat;
							}
						}
					}
					.selectmenu4 {
						.logo-bottom-goodsselect-1 {
							span:nth-of-type(1) {
								background: url(../imgs/selectmenu.png) 100% -245px no-repeat;
							}
						}
					}
					.selectmenu5 {
						.logo-bottom-goodsselect-1 {
							span:nth-of-type(1) {
								background: url(../imgs/selectmenu.png) 100% -314px no-repeat;
							}
						}	
					}
					.selectmenusell {
						position: relative;
						width: 100%;
						height: 50px;
						line-height: 50px;
						cursor: pointer;
						img {
							width: 17px;
							height: 22px;
							float: left;
							margin: 14px 5px 0 20px;
						}
						a {	
							float: left;
							color: #22990d;
							font-size: 14px;
							height: 28px;
							line-height: 28px;
							margin: 11px 0 0 0; 
						}
						.selectmenusell-num {
							float: left;
							height: 20px;
							border-radius: 8px;
							color: #fff;
							background: #fb6003;
							padding: 0 9px;
							line-height: 20px;
							margin: 14px 0 0 10px;
							font-size: 14px; 
						}
						.selectmenusell-in {
							display: none;
							position: absolute;
							left: 226px;
							top: -265px;
							border: 1px solid #62a727;
							width: 778px;
							height: 444px;
							box-shadow: 3px 3px 4px #777;
							padding: 10px 8px 0;
							background: #fff;
							.selectmenusell-in-top {
								float: left;
								width: 778px;
								height: 374px;
								p {
									display: inline-block;
									width: 375px;
									height: 175px;
									float: left;
									background: pink;
									margin: 0 5px 10px 5px;
									img {
										width: 100%;
										height: 100%;
										margin: 0;
									}
								}
							}
							.selectmenusell-in-bottom {
								float: left;
								width: 778px;
								height: 52px;
								.selectmenusellarrow {
									float: left;
									width: 38px;
									height: 22px;
									border: 1px solid #379527;
									text-align: center;
									line-height: 22px;
									e {
										display: inline-block;
										background: url(../imgs/bg2.png) -18px -1285px no-repeat;
										width: 7px;
										height: 11px;
									}
									
								}
								.ssarrowl {
									margin: 10px 0 0 325px;
								}
								.ssarrowr {
									margin: 10px 0 0 0;
									e {
										background: url(../imgs/bg2.png) -25px -1285px no-repeat;
									}
								}
								div {
									height: 22px;
									text-align: center;
									line-height: 22px;
									margin: 10px;
									font-size: 12px;
								}
								a {
									img {
										margin: 5px 0 10px 210px; 
										width: 110px;
										height: 25px;
									}
								}
							}
						}
					}
					.selectmenusell:hover {
						.selectmenusell-in {
							display: block;
						}
						border-top:1px solid #62a727;
						border-bottom:1px solid #62a727;
					}
				}
			}
		}
		.logo-bottom-goods:hover {
				b {
					transform: rotate(180deg);
					transition-duration: 0.5s;
				}
				.logo-bottom-goodsselect {
					display: block;
				}
			}
		.logo-bottom-sell {
			width: 760px;
			line-height: 34px;
			height: 34px;
			ul {
				li {
					float: left;
					position:relative;
					padding: 0 25px;
					img {
						position: absolute;
						left: 88px;
						top: -10px;
					}
					a {
						font-weight: 600;
						font-size: 16px;
						color: #000;
						line-height: 34px;
						b {
							width: 13px;
							height: 17px;
							float: left;
							background: url(../imgs/bg2.png) -35px -1280px no-repeat;
							margin: 10px 5px 0 0;
						}
					}
				}
				li:hover {
					a {
						color: green;
					}
					b {
						transform: rotate(360deg);
						transition-duration: 0.5s;
					}
				}
			}
		}
	}
}
//轮播图
.allbanner {
	width: 100%;
	height: 360px;
	.banner {
		width: 1263px;
		height: 360px;
		margin: 0 auto;
		position: relative;
		z-index: 10;
		.bannerleft {
			width: 770px;
			height: 360px;
			position: absolute;
			left: 252px;
			top: 0;
			cursor: pointer;
			div	{
				position: absolute;
				top: 0;
				left: 0;
				.bannerimg.active {
					opacity: 1;
				}
				.bannerimg {
					opacity: 0;
					position: absolute;
					top: 0;
					left: 0;
				}
			}
			.bannernum {
				width: 770px;
				height: 21px;
				positon: absolute;
				top: 320px;
				left: 0;
				span {
					width: 21px;
					height: 21px;
					border-radius: 50%;
					background-color: #999;
					color: #fff;
					float: left;
					text-align: center;
					line-height: 21px;
					margin-right: 5px;
					cursor: pointer;
				}
				span:nth-of-type(1) {
					margin-left: 330px;
				}
				.active1 {
					background: #fff;
					color: #000;
				} 
			}
		}
		.bannerright {
			width: 200px;
			height: 360px;
			position: absolute;
			left: 1022px;
			top: 0;
			overflow: hidden;
			div {
				width: 200px;
				height: 119px;
				border-bottom: 1px dotted #ddd;
				position: absolute;
				left: 0;
				top: 0;
				transition: left 0.6s;
				img {
					height: 119px;
					width: 100%;
				}
			}
			div:nth-of-type(2) {
				top: 120px;
			}
			div:nth-of-type(3) {
				top: 240px;
			}
			div:hover {
				left: -15px;
			}
		}
	}
}
//每日疯抢
.allmadbuying {
	margin-top: 30px;
	width: 100%;
	height: 480px;
	.madbuying {
		width: 1200px;
		height: 480px;
		margin: 0 auto;
		.madbuyingleft {
			width: 328px;
			height: 460px;
			float: left;
			background: #ff827f;
			.madbuyinglefttop {
				padding-top: 50px;
				width: 252px;
				padding-left: 16px;
				height: 95px;
				margin-left: 30px;
			}
			.madbuyingleftmid {
				margin-left: 30px;
				width: 268px;
				height: 28px;
				line-height: 28px;
				font-size: 14px;
				text-align: center;
				color: #fff;
				margin-top: 45px;
			}
			.madbuyinglefttimer {
				margin-left: 30px;
				width: 268px;
				height: 45px;
				margin-top: 26px;
				span {
					float: left;
					width: 34px;
					height: 45px;
					background: #fff;
					color: #000;
					font-size: 32px;
					text-align: center;
					line-height: 45px;
					border-radius: 8px;
					margin-right: 5px;
				}
				span:nth-of-type(1) {
					margin-left: 10px;
				}
				b {
					float: left;
					font-size: 22px;
					color: #fff;
					font-weight: 600;
					width: 10px;
					line-height: 45px;
				}
			}
			.madbuyingleftbottom {
				margin-left: 30px;
				margin-top: 20px;
				padding-left: 63px;
				width: 205px;
				height: 52px;
				font-size: 40px;
				text-align: left;
				color: #fff;
				position: relative;
				font-weight: 600;
				span {
					background: url(../imgs/madbuyingicon.png) -14px -15px no-repeat ;
					position: absolute;
					width: 30px; 
					height: 30px;
					left: 180px;
					top: 14px;
				}
			}
			.madbuyinglefton {
				margin-left: 30px;
				width: 268px;
				height: 26px;
				font-size: 20px;
				margin-top: 5px;
				text-align: center;
				color: #fff;
			}
		}
		.madbuyingright {
			width: 870px;
			height: 458px;
			float: left;
			border:1px solid #e7e7e7;
			border-left: none;
			border-right: none;
			.madbuyingrighttop {
				position: relative;
				margin-left: 15px;
				width: 856px;
				height: 67px;
				ul {
					width: 826px;
					height: 67px;
					height: 66px;
				    border-bottom: 1px dashed #e7e7e7;
				    margin: 0 20px;
				    li {
				    	float: left;
			    	    width: 119px;
					    height: 45px;
					    color: #000;
					    padding: 18px 0px 3px 0px;
					    cursor: pointer;
				    }
				    .madbuyingon {
				    	p {
				    		font-size: 14px;
	    					font-weight: 600;
	    					color: #999;
				    	}
				    }
				    li:nth-of-type(1) {
				    	margin-left: 30px;
				    }
				    li:nth-of-type(7) {
				    	width: 79px;
				    }
				}
			}
			.madbuyingrightbottom {
				position: relative;
				margin-left: 15px;
				width: 856px;
				height: 364px;
				ul {
					margin-top: 15px;
					overflow: hidden;
					li {
						width: 171px;
						float: left;
						height: 328px;
						padding: 18px 20px 20px 20px;
						.madbuyingimg {
							width: 155px;
   							height: 154px;
   							cursor: pointer;
   							img {
   								-webkit-transition: all .5s ease;
   								-moz-transition: all .5s ease;
   								transition: all .5s ease;
    							border: 1px solid #fff;
    							width: 100%;
    							height: 100%;
   							}
   							img:hover {
		   						transform: translateY(-5px);
							}
						}
						.madbuyingtitle {
							margin-top: 50px;
							font-size: 12px;
							color: #000;
							white-space: nowrap;
						    text-overflow: ellipsis;
						    overflow: hidden;
						    height: 16px;
						    width: 171px;
						}
						.madbuyingprice {
							color: #dd2727;
							margin-top: 10px;
							width: 171px;
							height: 26px;
							font-size: 12px;
							span {
								float: left;
								line-height: 26px;
							}
							span:nth-of-type(2) {
								color: #dd2727;
								font-size: 20px;
							}
							span:nth-of-type(3) {
								text-decoration: line-through;
							    margin-left: 5px;
						        font-size: 12px;
						        color: #999;
							}
						}
						.madbuyingline {
						 	width: 171px;
						    height: 5px;
						    border-radius: 30px;
						    background: #d7d7d7;
						    margin-top: 20px;
						}
						.madbuyingover {
						    margin-top: 15px;
						    margin-left: 25px;
						    width: 171px;
						    height: 30px;
						    span {
						    	display: block;
						    	background: #cdcdcd;
							    width: 120px;
							    height: 30px;
							    line-height: 30px;
							    border-radius: 30px;
						    	cursor: pointer;
					    	    font-size: 14px;
					    	    color: #fff;
					    	    text-align: center;
						    }
						}
					}
				}
				.madbuyingarrowl {
					width: 29px;
				    height: 64px;
				    background: url(../imgs/madbuyingicon.png) no-repeat;
				    background-position: -12px -76px;
				    position: absolute;
				    top: 122px;
				    left: -16px;
				    z-index: 100;
				    cursor: pointer;
				}
				.madbuyingarrowr {
					width: 29px;
				    height: 64px;
				    background: url(../imgs/madbuyingicon.png) no-repeat;
				    background-position: -45px -76px;
				    position: absolute;
				    top: 122px;
				    right: -5px;
				    z-index: 100;
				    cursor: pointer;
				}
			}

		}
		.madbuyingwave {
			height: 45px;
			background: url(../imgs/madbuyingwave.png) no-repeat;
			animation: 8s linear 0s none infinite tweenx;
			margin-top: 23px;
			-webkit-animation: 8s linear 0s none infinite tweenx;
			-moz-animation: 8s linear 0s none infinite tweenx;
		}
	}
}
//新品尝鲜
.allnewtaste {
	margin-top: 30px;
	width: 100%;
	height: 330px;
	.newtaste {
		width: 1200px;
		height: 330px;
		margin: 0 auto;
		.newtasteleft {
			width: 328px;
    		height: 330px;
    		position: relative;
    		float: left;
    		.newtastelefcover {
    			background: #ed499b; 
    			opacity: 0.8;
    			width: 245px;
			    height: 200px;
			    position: absolute;
			    bottom: 20px;
			    left: 41px;
			    .newtasteleftall {
	    			width: 233px;
				    height: 188px;
				    position: absolute;
				    top: 5px;
				    left: 5px;
				    border: 1px solid #fff;
				    .newtasteleftall1 {
				    	font-size: 45px;
				    	width: 233px;
				    	height: 60px;
				    	text-align: center;
				    	color: #fff;
				    }
				    .newtasteleftall2 {
				    	width: 233px;
				    	height: 16px;
				    	font-size: 12px;
				    	text-align: center;
				    	color: #fff;
				    }
				    .newtasteleftall3 {
				    	width: 233px;
				    	height: 16px;
				    	margin-top: 5px;
				    	img {
				    		margin-left: 18px;
				    	}
				    }
				    .newtasteleftall4 {
				    	width: 233px;
				    	height: 16px;
				    	font-size: 12px;
				    	text-align: center;
				    	color: #fff;
				    }
				    .newtasteleftall5 {
				    	width: 233px;
				    	height: 26px;
				    	font-size: 20px;
				    	text-align: center;
				    	color: #fffc00;
				    }
				    .newtasteleftall6 {
				    	background: #fffc00;
					    height: 30px;
					    line-height: 30px;
					    position: absolute;
					    bottom: 0;
					    text-align: center;
					    left: 0;
					  	width: 233px;
					  	a {
					  		color: #444;
					  	}
					  	a:hover {
					  		color: #248DCC;
					  	}
				    }
	    		}
    		}
    		
		}

		.newtasteright {
			width: 871px;
  			height: 328px;
  			border: 1px solid #e7e7e7;
  			float: right;
  			border-left: 0;
  			ul {
				width: 873px;
				height: 326px;
				li {
					padding: 30px 0 30px 30px;
    				width: 261px;
    				float: left;
    				.newtasterighttop {
					    padding-right: 30px;
						border-right: 1px solid #e7e7e7;
						width: 230px;
						height: 132px;
						h2 {
							font-weight: 600;
						    white-space: nowrap;
						    text-overflow: ellipsis;
						    overflow: hidden;
						    color: #333;
						    font-size: 14px;
						    width: 230px;
							height: 19px;
						}
						p:nth-of-type(1) {
							white-space: nowrap;
						    text-overflow: ellipsis;
						    overflow: hidden;
						    color: #999;
						    font-size: 12px;
						    width: 230px;
							height: 16px;
							margin-top: 5px;
						}
						.newtasterighttopprice {
							color: #FF0000;
						    font-size: 14px;
						    width: 230px;
							height: 19px;
							margin-top: 10px;
						}
						div {
						    width: 230px;
							height: 43px;
							margin-top: 20px;
							p {
								white-space: nowrap;
							    text-overflow: ellipsis;
							    overflow: hidden;
							    margin-top: 5px;
							    width: 230px;
								height: 16px;
								color: #999;
							}
						}
    				}
    				.newtasterightbottom {
					    margin-top: 15px;
				        position: relative;
				        width: 261px;
				        height: 119px;
				        img {
				        	position: absolute;
						    top: -10px;
						    right: 0px;
						    width: 145px;
						    height: 145px;
						    z-index: -1;					        text-align: right;
				        }
    				}
				}
  			}
		}
	}
}
//detail 
.alldetail {
	height: 580px;
	width: 100%;
	margin-top: 30px;
	.detail {
		height: 580px;
		width: 1200px;
		margin: 0 auto;
		.detailtop {
			padding-bottom: 10px;
		    color: #333;
	        font-size: 20px;
	        height: 26px;
			width: 1200px;
			i {
				width: 30px;
				height: 30px;
			    float: left;
			    margin-right: 5px;
			    background: url(../imgs/index-detailbg1.png) no-repeat;
			}
		}
		.detailmiddle {
			height: 477px;
			width: 1200px;
			.detailmiddlel {
			    width: 328px;
				height: 477px;
				position: relative;
				float: left;
				.detailmiddlelb {
					position: absolute;
					background: rgba(255,255,255,0.8);
				    width: 398px;
				    height: 148px;
				    left: 0;
				    bottom: 0;
				    padding: 15px;
				    .detailmiddlelbt {
				    	color: #666;
				    	span {
				    		float: left;
				    		width: 87px;
				    		line-height: 30px;
				    		height: 30px;
				    	}
				    	i {
				    		float: left;
			    		    margin-left: 10px;
		    		        width: 27px;
						    height: 27px;
						    background: url(../imgs/madbuyingicon.png) no-repeat; 
						    background-position: -113px -170px;
				    	}
				    	b {
				    		float: left;
				    		margin: 5px 15px 0 5px;
				    		color: #666;
			    		    font-size: 14px;
			    		    width: 59px;
			    		    height: 19px;
			    		    line-height: 19px;
			    		    display: inline-block;
				    	}
				    }
				    .detailmiddlelbb {
				    	width: 315px;
    					height: 102px;
    					margin-top: 10px;
    					li {
    					    width: 87px;
						    height: 24px;
						    line-height: 24px;
						    margin-top: 10px;
					        float: left;
				            text-align: center;
				            border-radius: 30px;
    						margin-right: 18px;
    						background: #fff;
						    color: #444;
						    cursor: pointer;
    					}
				    }
				}
			}
			.detailmiddler {
			    width: 872px;
			    height: 476px;
				border-top: 1px solid #459d36;
				position: relative;
			    float: right;
			    .detailmiddlercover {
			    	position: absolute;
			    	border-right: 1px solid #e7e7e7;
				    top: -35px;
				    right: 0;
				    width: 872px;
				    height: 35px;
				    text-align: right;
				    ul {
			    	    border-left: 1px solid #e7e7e7;
    					margin-right: 0px;
    					width: 410px;
    					height: 35px;
    					float: right;
    					li {
    						cursor: pointer;
    						float: left;
    						border-bottom: 1px solid #459d36;
						    border-left: #fff;
						    height: 33px;
						    border-top: 1px solid #e7e7e7;
						    span {
						    	padding: 0 15px;
						    	margin-top: 7px;
							    border-right: 1px solid #e7e7e7;
							    font-size: 14px;
							    display: block;
							    text-align: center;
						    }
    					}
    					.detailmiddlerchover {
    						border-left: 1px solid #459d36;
						    border-right: 1px solid #459d36;
						    border-top: 1px solid #459d36;
						    margin-left: -2px;
						    border-bottom: 1px solid #fff
    					}
				    }
			    }
			    .detailmiddlerprod {
			    	width: 872px;
			    	height: 476px;
			    	ul {
			    		width: 872px;
			    		height: 476px;
			    		li {
			    			border-bottom: 1px solid #e7e7e7;
						    border-right: 1px solid #e7e7e7;
						    width: 197px;
						    padding: 10px;
						    height: 217px;
					        float: left;
					        cursor: pointer;
					        .detailmiddlerprodimg {
					        	width: 200px;
    							text-align: center;
    							height: 161px;
    							img {
    								cursor: pointer;
    								width: 156px;
    								height: 156px;
    								transition: all .5s ease;
    								margin-left: 22px;
    								margin-top: 2px;
    							}
    							img:hover {
    								transform: translateY(-5px);
    							}
					        }
					        h2 {
				        	    height: 32px;
				        	    color: #666;
				        	    width: 197px;
					        }
					        .detailmiddlerprodprice {
					        	margin-top: 5px;
					        	font-size: 16px;
					        	color: #dd2727;
					        }
			    		}
			    	}
			    }
			}
		}
		.detailbottom {
			border-right: 1px solid #e7e7e7;
    		border-bottom: 1px solid #e7e7e7;
    		width: 1199px;
    		height: 66px;
    		li {
    			width: 148px;
			    height: 58px;
			    border-left: 1px solid #e7e7e7;
			    text-align: center;
			    padding-top: 8px;
			    float: left;
			    cursor: pointer;
			    img {
		    	    width: 100px;
				    height: 48px;
				    margin-left: 25px;
			    }
    		}
		}
	}
}
//footer

.allfooter {
	height: 450px;
	background: #f5f5f5;
	width: 100%;
	.footer {
		height: 425px;
		width: 1263px;
		margin: 0 auto;
		.footertop {
			height: 100px;
			width: 100%;
			border-bottom: 1px solid #e5e5e5;
			ul {
				width: 1200px;
				height: 62px;
				padding: 19px 0;
				margin-left: 30px;
				display: block;
				li {
					float: left;
					width: 200px;
					a {
						display: block;
					    width: 128px;
					    height: 62px;
					    padding-left: 72px;
					    line-height: 62px;
					    color: #444;
					    font-weight: 600;
					    background: url(../imgs/index-footer.png) 0 0 no-repeat;
					    font-size: 18px;
					    transition: 1s;
					}
					a:hover {
						color: #ed4044;
   						transform: translateY(-5px);
					}
				}
				li:nth-of-type(2) {
					a {
						background-position: 0 -82px;
					}
				}
				li:nth-of-type(3) {
					a {
						background-position: 0 -162px;
					}
				}
				li:nth-of-type(4) {
					a {
						background-position: 0 -242px;
					}
				}
				li:nth-of-type(5) {
					a {
						background-position: 0 -322px;
					}
				}
				li:nth-of-type(6) {
					a {
						background-position: 0 -402px;
					}
				}
			}
		}
		.footermiddle {
			height: 132px;
			width: 100%;
			padding-top: 25px;
			ul {
				height: 132px;
				width: 1200px;
				border-bottom: 1px solid #e5e5e5;
				margin-left: 30px;
				padding-bottom: 25px;
				li {
					margin-right: 85px;
					width: 56px;
					height: 132px;
					float: left;
					h2 {
						font-weight: 600;
						color: #666;
						font-size: 14px;
						width: 56px;
						height: 19px;
						line-height: 19px;
					}
					p {
						margin-top: 5px;
						color: #444;
						font-size: 14px;
					}
				}
				li:nth-of-type(1) {
					width: 330px;
					height: 132px;
					margin-right: 0;
					img {
						float: left;
						margin-top: 5px;
					}
					.footermidserver {
						float: left;
						width: 195px;
						height: 131px;
						margin-left: 30px;
						h2 {
							font-size: 12px;
							height: 16px;
							line-height: 16px;
							width: 195px;
						}
						p {
							font-size: 20px;
							margin-top: 15px;
							color: #666;
							height: 26px;
							line-height: 26px;
							width: 195px;
							position: relative;
						}
						p .footermidchangtu {
							font-size: 10px;
							color:#666;
							margin-left: 5px;
							display: block;
							width: 60px;
							height: 16px;
							line-height: 16px;
							position: absolute;
							left: 132px;
							top: 8px;
						}
						p:nth-of-type(3) {
							font-size: 12px;
							font-weight: 400;
						}
					}
				}
				li:nth-of-type(2) {
					margin-left: 40px;
					p {
						cursor: pointer;
					}
					p:hover {
						color: #ed4044;
					}
					p:nth-of-type(1) {
						margin-top: 20px;
					}
				}
				li:nth-of-type(3),
				li:nth-of-type(4),
				li:nth-of-type(5) {
					p {
						cursor: pointer;
					}
					p:hover {
						color: #ed4044;
					}
					p:nth-of-type(1) {
						margin-top: 20px;
					}
				}
				li:nth-of-type(6) {
					margin-top: -5px;
					margin-right: 36px;
					width: 92px;
					height: 137px;
					p {
						font-size: 10px;
						width: 92px;
						height: 16px;
						line-height: 16px;
						text-align: center;
					}
					img {
						margin-top: 10px;
						width: 92px;
						height: 92px;
					}
				}
				li:nth-of-type(7) {
					width: 92px;
					height: 137px;
					margin-top: -5px;
					margin-right: 0;
					p {
						font-size: 10px;
						width: 92px;
						height: 16px;
						line-height: 16px;
						text-align: center;
					}
					img {
						margin-top: 10px;
						width: 92px;
						height: 92px;
					}
				}


			}
		}
		.footerbottom {
			height: 186px;
			width: 100%;
			margin-top: 25px;
			.footerbottomt {
				padding-top: 20px;
				width: 1150px;
				margin-left: 30px;
				height: 20px;
				span {
					margin-right: 5px;
					color: #999;
					float: left;
					width: 60px;
					height: 16px;
					line-height: 16px;
				}
				ul {
					float:left;
					width: 1080px;
					height: 16px;
					li {
						color: #999;
						float:left;
						height: 16px;
						margin: 0 15px 10px 0;
					}
					li:hover {
						cursor: pointer;
						color: #ed4044;
   						text-decoration: underline;
					}
				}
			}
			.footerbottomm {
				width: 1090px;
				margin-top: 20px;
				height: 30px;
				padding-left: 110px;
				a {
					float: left;
					width: 80px;
					height: 30px;
					margin-right: 3px;
					img {
						width: 80px;
						height: 30px;
					}
				}
			}
			.footerbottomb {
				width: 1200px;
				height: 16px;
				padding: 20px 0 40px;
				p {
					width: 1200px;
					height: 16px;
					color: #000;
					text-align: center;
				}
			}
		}
	}
}